.gallery-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.gallery-header {
  width: 100%;
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-oneandhalfunits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-oneandhalfunits);
  background-color: var(--dl-color-primary1-blue80);
}
.gallery-navbar-interactive {
  width: 1200px;
  height: 60px;
  display: flex;
  position: sticky;
  max-width: var(--dl-size-size-maxwidth);
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-twounits);
  border-radius: 50px;
  padding-right: var(--dl-space-space-twounits);
  padding-bottom: var(--dl-space-space-halfunit);
  justify-content: space-between;
  background-color: var(--dl-color-gray-white);
}
.gallery-logo {
  font-size: 1.59rem;
  font-family: "Lato";
  font-weight: bold;
  text-transform: uppercase;
}
.gallery-desktop-menu {
  flex: 1;
  display: flex;
  justify-content: space-between;
}
.gallery-links {
  flex: 1;
  display: flex;
  align-self: center;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.gallery-navlink {
  font-size: 20px;
}
.gallery-navlink1 {
  font-size: 20px;
  margin-left: var(--dl-space-space-twounits);
}
.gallery-navlink2 {
  font-size: 20px;
  margin-left: var(--dl-space-space-twounits);
}
.gallery-navlink3 {
  font-size: 20px;
  margin-left: var(--dl-space-space-twounits);
}
.gallery-navlink4 {
  font-size: 20px;
  margin-left: var(--dl-space-space-twounits);
}
.gallery-navlink5 {
  font-size: 20px;
  margin-left: var(--dl-space-space-twounits);
}
.gallery-buttons {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.gallery-login {
  font-size: 21px;
  align-self: center;
  font-style: normal;
  text-align: center;
  transition: 0.3s;
  font-weight: 700;
  border-color: var(--dl-color-primary1-blue100);
  border-width: 2px;
  margin-right: var(--dl-space-space-twounits);
  padding-left: 1.5rem;
  border-radius: 45px;
  padding-right: 1.5rem;
}

.gallery-register {
  color: var(--dl-color-gray-white);
  font-size: 21px;
  align-self: center;
  text-align: center;
  transition: 0.3s;
  font-weight: bold;
  border-color: var(--dl-color-primary1-blue100);
  padding-left: 1.5rem;
  border-radius: 45px;
  padding-right: 1.5rem;
  background-color: var(--dl-color-primary1-blue100);
}
.gallery-register:hover {
  border-color: rgba(41, 20, 119, 0.9);
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  background-color: rgba(41, 20, 119, 0.9);
}
.gallery-burger-menu {
  display: none;
}
.gallery-icon {
  width: var(--dl-size-size-xsmall);
  cursor: pointer;
  height: var(--dl-size-size-xsmall);
}
.gallery-mobile-menu {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  display: none;
  padding: 32px;
  z-index: 100;
  position: absolute;
  border-radius: 50px;
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--dl-color-gray-white);
}
.gallery-nav {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.gallery-top {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-threeunits);
  justify-content: space-between;
}
.gallery-logo1 {
  font-size: 2em;
  font-weight: bold;
}
.gallery-close-menu {
  display: flex;
  align-items: center;
  justify-content: center;
}
.gallery-icon02 {
  fill: var(--dl-color-gray-900);
  width: var(--dl-size-size-xsmall);
  cursor: pointer;
  height: var(--dl-size-size-xsmall);
}
.gallery-links1 {
  flex: 0 0 auto;
  display: flex;
  align-self: flex-start;
  align-items: flex-start;
  flex-direction: column;
}
.gallery-nav1 {
  color: var(--dl-color-gray-black);
  margin-bottom: var(--dl-space-space-unit);
}
.gallery-nav2 {
  color: var(--dl-color-gray-black);
  margin-bottom: var(--dl-space-space-unit);
}
.gallery-nav3 {
  color: var(--dl-color-gray-black);
  margin-bottom: var(--dl-space-space-unit);
}
.gallery-nav4 {
  color: var(--dl-color-gray-black);
  margin-bottom: var(--dl-space-space-unit);
}
.gallery-nav5 {
  color: var(--dl-color-gray-black);
  margin-bottom: var(--dl-space-space-unit);
}
.gallery-buttons1 {
  display: flex;
  margin-top: var(--dl-space-space-unit);
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.gallery-login1 {
  border-color: var(--dl-color-primary1-blue100);
  border-width: 1px;
  margin-right: var(--dl-space-space-twounits);
  padding-left: 1.5rem;
  border-radius: 30px;
  padding-right: 1.5rem;
}
.gallery-register1 {
  color: var(--dl-color-gray-white);
  transition: 0.3s;
  border-color: var(--dl-color-primary1-blue100);
  border-width: 1px;
  padding-left: 1.5rem;
  border-radius: 30px;
  padding-right: 1.5rem;
  background-color: var(--dl-color-primary1-blue100);
}
.gallery-register1:hover {
  border-color: #849492ff;
  background-color: #849492ff;
}
.gallery-icon04 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}
.gallery-icon06 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}
.gallery-icon08 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.gallery-footer {
  width: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: space-between;
}
.gallery-container01 {
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  justify-content: space-between;
}
.gallery-container02 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: space-between;
  flex-direction: column;
}
.gallery-container03 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: space-between;
  flex-direction: column;
}
.gallery-container04 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: space-between;
  flex-direction: column;
}
.gallery-logo2 {
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  align-items: flex-start;
  flex-direction: column;
}
.gallery-logo3 {
  font-size: 1.6rem;
  font-family: "Lato";
  font-weight: bold;
  text-transform: uppercase;
}
.gallery-text {
  margin-top: var(--dl-space-space-oneandhalfunits);
}
.gallery-socials {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
.gallery-icon-group1 {
  width: 150px;
  height: 40px;
  display: flex;
  margin-top: 52px;
  align-items: center;
  border-radius: 10px;
  flex-direction: row;
  justify-content: center;
  background-color: #5228f5;
}
.gallery-icon10 {
  fill: var(--dl-color-gray-white);
  width: 24px;
  height: 24px;
  margin-right: var(--dl-space-space-twounits);
}
.gallery-icon12 {
  fill: var(--dl-color-gray-white);
  width: 24px;
  height: 24px;
  margin-right: var(--dl-space-space-twounits);
}
.gallery-icon14 {
  fill: var(--dl-color-gray-white);
  width: 24px;
  height: 24px;
  transition: 0.3s;
}

.gallery-links-container {
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  justify-content: space-between;
}
.gallery-container05 {
  display: flex;
  align-items: flex-start;
  margin-right: 10rem;
  flex-direction: row;
  justify-content: space-between;
}
.gallery-product-container {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
  margin-right: 10rem;
  flex-direction: column;
  justify-content: flex-start;
}
.gallery-text01 {
  font-weight: 700;
  margin-bottom: var(--dl-space-space-oneandhalfunits);
}
.gallery-text02 {
  margin-bottom: var(--dl-space-space-unit);
}
.gallery-text03 {
  margin-bottom: var(--dl-space-space-unit);
}
.gallery-text04 {
  margin-bottom: var(--dl-space-space-unit);
}
.gallery-company-container {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.gallery-text06 {
  font-weight: 700;
  margin-bottom: var(--dl-space-space-oneandhalfunits);
}
.gallery-text07 {
  margin-bottom: var(--dl-space-space-unit);
}
.gallery-text08 {
  margin-bottom: var(--dl-space-space-unit);
}
.gallery-text09 {
  margin-bottom: var(--dl-space-space-unit);
}
.gallery-container06 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.gallery-contact {
  display: flex;
  align-items: flex-start;
  margin-bottom: var(--dl-space-space-oneandhalfunits);
  flex-direction: column;
  justify-content: flex-start;
}
.gallery-text11 {
  font-weight: 700;
  margin-bottom: var(--dl-space-space-oneandhalfunits);
}
.gallery-contact1 {
  display: flex;
  align-items: flex-start;
  margin-bottom: 0px;
  flex-direction: column;
  justify-content: flex-start;
}
.gallery-container07 {
  flex: 0 0 auto;
  width: auto;
  height: 24px;
  display: flex;
  align-self: center;
  margin-top: var(--dl-space-space-halfunit);
  align-items: center;
  margin-bottom: var(--dl-space-space-halfunit);
  justify-content: center;
}
.gallery-icon16 {
  width: 24px;
  height: 24px;
}
.gallery-text12 {
  font-size: 14px;
  align-self: center;
  padding-left: var(--dl-space-space-halfunit);
  margin-bottom: 0px;
}
.gallery-container08 {
  flex: 0 0 auto;
  width: auto;
  height: 24px;
  display: flex;
  align-self: flex-start;
  margin-top: var(--dl-space-space-halfunit);
  align-items: center;
  margin-bottom: var(--dl-space-space-halfunit);
  justify-content: center;
}
.gallery-icon18 {
  width: 24px;
  height: 24px;
}
.gallery-text13 {
  font-size: 14px;
  align-self: center;
  padding-left: var(--dl-space-space-halfunit);
}
.gallery-container09 {
  flex: 0 0 auto;
  width: auto;
  height: 24px;
  display: flex;
  margin-top: var(--dl-space-space-halfunit);
  align-items: center;
  margin-bottom: var(--dl-space-space-halfunit);
  justify-content: center;
}
.gallery-icon20 {
  width: 24px;
  height: 24px;
}
.gallery-text14 {
  font-size: 14px;
  align-self: center;
  padding-left: var(--dl-space-space-halfunit);
}
.gallery-separator {
  width: 100%;
  height: 1px;
  margin-top: var(--dl-space-space-twounits);
  margin-bottom: var(--dl-space-space-twounits);
  background-color: var(--dl-color-gray-900);
}
.gallery-text15 {
  color: var(--dl-color-gray-black);
  width: 445px;
  font-size: 12px;
}
@media(max-width: 1200px) {
  .gallery-navbar-interactive {
    width: 960px;
    height: 50px;
  }
  .gallery-logo {
    font-size: 1.2rem;
  }
  .gallery-login {
    font-size: 16px;
  }
  .gallery-register {
    font-size: 16px;
  }
  .gallery-logo3 {
    font-size: 1.2rem;
  }
  .gallery-text15 {
    font-size: 10px;
  }
}
@media(max-width: 991px) {
  .gallery-navbar-interactive {
    width: 90%;
  }
  .gallery-logo {
    font-size: 1.1rem;
  }
  .gallery-desktop-menu {
    display: none;
  }
  .gallery-login {
    font-size: 14px;
  }
  .gallery-register {
    font-size: 14px;
  }
  .gallery-burger-menu {
    display: flex;
  }
  .gallery-icon {
    width: 24px;
    height: 24px;
  }
  .gallery-footer {
    flex-direction: column;
  }
  .gallery-logo3 {
    font-size: 1.1rem;
  }
  .gallery-container05 {
    margin-right: var(--dl-space-space-fourunits);
  }
  .gallery-product-container {
    margin-right: var(--dl-space-space-fourunits);
  }
}
@media(max-width: 796px) {
  .gallery-navbar-interactive {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .gallery-burger-menu {
    align-items: center;
    justify-content: center;
  }
  .gallery-icon {
    width: 22px;
    height: 22px;
  }
  .gallery-mobile-menu {
    padding-top: var(--dl-space-space-oneandhalfunits);
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
    padding-bottom: var(--dl-space-space-oneandhalfunits);
  }
  .gallery-nav1 {
    margin-bottom: var(--dl-space-space-unit);
  }
  .gallery-nav2 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .gallery-nav3 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .gallery-nav4 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .gallery-nav5 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .gallery-contact1 {
    width: 253px;
    height: 114px;
    align-items: flex-start;
  }
  .gallery-icon16 {
    width: 20px;
    height: 20px;
  }
  .gallery-text12 {
    font-size: 12px;
  }
  .gallery-icon18 {
    width: 20px;
    height: 20px;
  }
  .gallery-text13 {
    font-size: 12px;
  }
  .gallery-icon20 {
    width: 20px;
    height: 20px;
  }
  .gallery-text14 {
    font-size: 12px;
  }
  .gallery-text15 {
    width: 225px;
    margin-left: var(--dl-space-space-oneandhalfunits);
    margin-bottom: 0px;
  }
}
@media(max-width: 767px) {
  .gallery-footer {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .gallery-container01 {
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
  }
  .gallery-logo2 {
    align-items: center;
  }
  .gallery-text {
    margin-top: var(--dl-space-space-twounits);
    text-align: center;
    margin-bottom: var(--dl-space-space-twounits);
  }
  .gallery-links-container {
    width: 100%;
    align-items: flex-start;
    flex-direction: row;
    justify-content: center;
  }
  .gallery-container05 {
    margin-right: var(--dl-space-space-fourunits);
  }
  .gallery-product-container {
    margin-right: var(--dl-space-space-fourunits);
  }
}
@media(max-width: 479px) {
  .gallery-navbar-interactive {
    width: 90%;
    padding: var(--dl-space-space-unit);
    padding-right: 16px;
  }
  .gallery-logo {
    font-size: 1.5em;
  }
  .gallery-mobile-menu {
    padding: 16px;
  }
  .gallery-logo1 {
    font-size: 1.5em;
  }
  .gallery-icon02 {
    fill: var(--dl-color-gray-900);
  }
  .gallery-footer {
    padding: var(--dl-space-space-unit);
  }
  .gallery-container01 {
    align-items: center;
    flex-direction: column;
  }
  .gallery-logo3 {
    font-size: 1.5em;
  }
  .gallery-text {
    margin-top: var(--dl-space-space-twounits);
    margin-bottom: var(--dl-space-space-twounits);
  }
  .gallery-links-container {
    align-items: center;
    flex-direction: column;
  }
  .gallery-container05 {
    margin-right: 0px;
  }
  .gallery-container06 {
    margin-top: var(--dl-space-space-oneandhalfunits);
    align-items: flex-start;
    margin-bottom: 0px;
  }
  .gallery-contact {
    align-items: flex-start;
    margin-bottom: var(--dl-space-space-unit);
  }
  .gallery-contact1 {
    align-items: flex-start;
    margin-bottom: var(--dl-space-space-unit);
  }
  .gallery-text15 {
    text-align: center;
    margin-bottom: var(--dl-space-space-oneandhalfunits);
  }
}
